*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.chat-container{
    width: 600px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px 30px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 2px 2px 20px lightgrey;
}

/****************************
    Chat join screen 
*****************************/

.chat-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 2.5%;
    font-weight: bolder;
}

.btn-join-group{
    margin-left: 24%;
}

/****************************
    Chat header style start 
*****************************/

.chat-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.chat-header h2{
    margin-top: 5px;
}

.chat-header button {
    height: fit-content;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(241, 62, 62);
    border: 1px solid rgb(241, 62, 62);
    color: white;
    font-size: 16px;
}

.chat-header button:hover{
    background-color: red;
    border: 1px solid red;
    cursor: pointer;
}

.chat-header span{
    font-size: 16px;
    color: limegreen;
}

/************************************
    Messages style start 
************************************/

.messages-container {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    height: 300px;
    overflow: auto;
    margin-bottom: 10px;
}

.message {
    background-color: rgba(211, 211, 211, 0.493);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
}

.message h5{
    margin-bottom: 5px;
}

.my-message {
    background-color: rgba(0, 223, 223, 0.459);
    float:right; 
}

/**************************
    Scroll style start 
**************************/

::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 10px;
}

/*****************************
    New message style start 
******************************/

.new-message-container{
    display: flex;
    justify-content: space-between;
}

.new-message-container textarea{
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100%;
    margin-right: 10px;
    padding: 5px;
    font-size: 16px;
}

.new-message-container button{    
    height: fit-content;
    padding: 8px 30px;
    border-radius: 5px;
    background-color: rgb(0, 110, 255);
    border: 1px solid rgb(0, 110, 255);
    color: white;
    font-size: 16px;
}

.new-message-container button:hover{
    background-color: blue;
    border: 1px solid blue;    
}

.logout-info{
    text-align: center;
    color: grey;
    margin-top: 5px;
}